/****************************************/
/*Footer styles*/
.footer {
  background-color: var(--black);
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 4;
}

.footer__third {
  width: 100%;
  padding: 20px 20px;
  /*background-color: green;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__third > * {
  margin-bottom: 10px;
}

@media all and (min-width: 980px) {
  .footer {
    flex-direction: row;
    align-items: unset;
  }

  .footer__third {
    padding: 0 20px;
    width: 30%;
  }

  .footer__third > * {
    margin-bottom: unset;
  }
}

.footer__third--left img {
  max-width: 250px;
  margin: auto;
}

.footer__logo {
  width: 100%;
}

.footer__third--mid, .footer__third--right {
  display: flex;
  align-items: center;
  text-align: center;
}

.footer__forestDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer__forest {
  height: 100px;
  margin: 5px;
  width: 100%;
  background: no-repeat center;
  background-size: cover;
}

@media all and (min-width: 600px) {
  .footer__forestDiv {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer__forest {
    //width: 30%;
    //margin-bottom: 0;
  }
}