/****************************************/
/*Form styles*/
.form__input input, .form__input textarea {
  color: var(--textColor);
  background: transparent;
  border: 2px solid var(--blue);
  padding: 5px 10px;
  /*margin: 5px;*/
  margin: 10px 0;
}

.form__input input:focus, .form__input textarea:focus {
  outline: none;
}

.form__input input::placeholder, .form__input textarea::placeholder{
  color: var(--textColor);
}

.form__input--blackBox input {
  width: 50%;
}

.form__input textarea {
  width: 100%;
  height: 200px;
}

.form__input input[type=submit]:hover {
  cursor: pointer;
  background-color: var(--blue);
}

.form__input > div {
  width: 100%;
}